In [7]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [8]:
#Combine the pickle files back into a single DataFrame:
# Initialize an empty list to hold the individual DataFrames from the pickle files
dfs = []

In [9]:
num_chunks = 5

In [10]:
# Load each pickle file and append its DataFrame to the list
for i in range(num_chunks):
    chunk_df = pd.read_pickle(f'chunk_{i}.pickle')
    dfs.append(chunk_df)

In [11]:
# Concatenate the DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

In [12]:
ords_prods_merge = combined_df

In [13]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,Mid-range product,Busiest day,First busiest,Regularly slow,average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,NaN,10,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,Mid-range product,Least busy,Regularly busy,Second slowest,average orders

In [14]:
#creating a subset
df = ords_prods_merge[:1000000]

In [15]:
df.shape

(1000000, 22)

In [16]:
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,Mid-range product,Busiest day,First busiest,Regularly slow,average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,NaN,10,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,Mid-range product,Least busy,Regularly busy,Second slowest,average orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,prior,...,7,26.0,7,0,both,Mid-range product,Regularly busy,Second busiest,Regularly slow,average orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,prior,...,14,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,prior,...,10,30.0,1,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,most orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,prior,...,20,19.0,1,0,both,Mid-range product,Regularly busy,Second busiest,Regularly slow,average orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,prior,...,12,15.0,2,1,both,Mid-range product,Regularly busy,Second busiest,Regularly slow,average orders

In [17]:
df.groupby('product_name')

In [18]:
#aggregating mean of the order_number in the subset
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.467644
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.802028
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [19]:
#Entire dataframe
df= ords_prods_merge

In [20]:
df.shape

(32406040, 22)

In [21]:
df.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,Mid-range product,Busiest day,First busiest,Regularly slow,average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,NaN,10,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,Mid-range product,Least busy,Regularly busy,Second slowest,average orders

In [22]:
#Aggregating mean of the order_number in the entire dataframe
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171106
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [23]:
#The department with an ID of 4 (produce) in the subset has a mean of around 17. Conversely, the department with an ID of 17 (household), only has a mean of around 15. The insight I can glean from this, then, is that produce sells considerably more on average than household goods in the subset dataframe.
#The results from the entire dataframe differ from those of the subset as the mean of some order_number were higher in the subset than in the entire dataframe and vice versa.

In [24]:
df.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.213779
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.171106
12    15.887671
13    16.583536
14    16.771241
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [25]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.213779   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.171106   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.771241   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

In [26]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [27]:
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,6.0,20,0,both,Mid-range product,Busiest day,First busiest,Regularly slow,average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,NaN,10,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,9.0,11,1,both,Mid-range product,Least busy,Regularly busy,Second slowest,average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,prior,...,26.0,7,0,both,Mid-range product,Regularly busy,Second busiest,Regularly slow,average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,prior,...,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,prior,...,30.0,1,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,prior,...,19.0,1,0,both,Mid-range product,Regularly busy,Second busiest,Regularly slow,average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,prior,...,15.0,2,1,both,Mid-range product,Regularly busy,Second busiest,Regularly slow,average orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,1798115,1379,prior,...,NaN,1,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,497193,1480,prior,...,7.0,1,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,1727826,1480,prior,...,7.0,3,1,both,Mid-range product,Least busy,Regularly busy,Second slowest,average orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,2694698,1480,prior,...,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,3171753,1494,prior,...,2.0,8,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,most orders,13

In [28]:
ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,slowest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,6.0,20,0,both,Mid-range product,Busiest day,First busiest,Regularly slow,average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,NaN,10,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,9.0,11,1,both,Mid-range product,Least busy,Regularly busy,Second slowest,average orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,602103,10831,prior,...,23.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,49629,11119,prior,...,30.0,1,0,both,Mid-range product,Regularly busy,Second busiest,Regularly slow,average orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,317888,11186,prior,...,2.0,8,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,682486,11243,prior,...,0.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,First slowest,average orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,2861386,11448,prior,...,3.0,6,0,both,Mid-range product,Regularly busy,Regularly busy,Regularly slow,average orders,21

In [29]:
#Creating a loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [30]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [31]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [32]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15877394
Loyal customer      10284396
New customer         6244250
Name: count, dtype: int64

In [33]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

In [34]:
#Creating a spending flag
ords_prods_merge.loc[ords_prods_merge['prices'] < 10, 'spending_flag'] = 'Low spender'

In [35]:
ords_prods_merge.loc[ords_prods_merge['prices'] >= 10,'spending_flag'] = 'High spender'

In [36]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     21762105
High spender    10643935
Name: count, dtype: int64

In [37]:
ords_prods_merge[['user_id', 'spending_flag', 'order_number']].head(60)

    user_id spending_flag  order_number
0       138   Low spender            28
1       138   Low spender            30
2       709   Low spender             2
3       764   Low spender             1
4       764   Low spender             3
5       777   Low spender            16
6       825   Low spender             3
7       910   Low spender            12
8      1052   Low spender            10
9      1052   Low spender            15
10     1379   Low spender             1
11     1480   Low spender            36
12     1480   Low spender            38
13     1480   Low spender            39
14     1494   Low spender             6
15     1494   Low spender             7
16     1494   Low spender             9
17     1540   Low spender             4
18     1540   Low spender             5
19     1540   Low spender             6
20     1540   Low spender             7
21     1540   Low spender             8
22     1540   Low spender             9
23     1540   Low spender            14
24     1540   Low spender            15
25     1540   Low spender            18
26     1540   Low spender            19
27     1540   Low spender            20
28     1540   Low spender            21
29     1540   Low spender            22
30     1540   Low spender            24
31     1540   Low spender            25
32     1540   Low spender            27
33     1540   Low spender            28
34     1598   Low spender             1
35     1598   Low spender             2
36     1598   Low spender             3
37     1647   Low spender             1
38     1647   Low spender             4
39     1647   Low spender             6
40     1647   Low spender             8
41     1647   Low spender             9
42     2833   Low spender             1
43     2850   Low spender             7
44     2857   Low spender            24
45     3010   Low spender             5
46     3029   Low spender             1
47     3395   Low spender             4
48     3904   Low spender             1
49     4006   Low spender             2
50     4006   Low spender             3
51     4006   Low spender             5
52     4006   Low spender             9
53     4006   Low spender            12
54     4122   Low spender            11
55     4141   Low spender             2
56     4343   Low spender             1
57     4553   Low spender             3
58     4845   Low spender             6
59     6866   Low spender             1

In [38]:
num_chunks = 5

In [39]:
# Calculate the number of rows in each chunk
chunk_size = len(ords_prods_merge) // num_chunks

In [40]:
# Split the DataFrame into chunks
chunks = [ords_prods_merge[i:i+chunk_size] for i in range(0, len(ords_prods_merge), chunk_size)]

In [41]:
chunk_size

6481208

In [42]:
import os

In [43]:
# Save each chunk as a pickle file
for i, chunk in enumerate(chunks):
 chunk.to_pickle(f'chunk_{i}.pickle')